<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Bamidele Obed Aminu">
    <!-- Maxblogs -->
    <!-- <link href="/css/sb-admin-2.min.css" rel="stylesheet"> -->
    <title>MaxBlogs | <%=title %>
    </title>
    <link rel="shortcut icon" href="/assects/images/maxblogs-logo-main.png" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <meta name="theme-color" content="#712cf9">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    


<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<%- include ('./scripts')%>
</head>