
<div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <img src="/assects/images/no_page_data.svg" alt="no data available" width="300" height="300">
        <h4 class="mt-3">No data Available!!!</h4>
    </div>
</div>