<div class="mt-5">
    <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter search term..."
                    aria-label="Enter search term..." aria-describedby="button-search" />
                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
            </div>
        </div>
    </div>
    <!-- Categories widget-->
    <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!">Web Design</a></li>
                        <li><a href="#!">HTML</a></li>
                        <li><a href="#!">Freebies</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!">JavaScript</a></li>
                        <li><a href="#!">CSS</a></li>
                        <li><a href="#!">Tutorials</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="position-sticky" style="top: 300px;">
        <h4 class="fst-italic">Recent posts</h4>
        <ul class="list-unstyled">
            <%newBlogs.forEach(blog=>{%>
                <li>
                    <a class="d-flex gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                        href="/blogs/<%=blog._id%>">
                        <!-- <svg class="bd-placeholder-img" width="100%" height="96"
                            xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#777" />
                        </svg> -->
                        <img src="<%=blog.heroimage_info.url%>" alt="<%=blog.title%>_img"  width="100%" height="96" onerror="this.src='/assects/images/max-blog-placeholder.jpg'">
                        <div class="col-8">
                            
                            <h6 class="mb-0"><%=blog.title%></h6>
                            <small class="text-body-secondary">January 14, 2024</small>
                        </div>
                    </a>
                </li>
            <%})%>
        </ul>
    </div>
    <!-- Side widget-->
    <!-- <div class="card mb-4">
        <div class="card-header">Side Widget</div>
        <div class="card-body">You can put anything you want inside of these side widgets. They are easy
            to use, and feature the Bootstrap 5 card component!</div>
    </div> -->
</div>