<!DOCTYPE html>
<html lang="en">

<%-include('./components/head')%>

    <body>
        <%-include('./components/header')%>

        <%-include('./components/Alertbox')%>
         <style>
            :root{
                --error-color:rgb(252, 73, 73);
            }
            .error{
                color:var(--error-color);
                font-size: 13px;
                border: none !important;
            }
            .input-error{
                border: 2px solid var(--error-color) ;
            }
         </style>

            <main class="row justify-content-center align-items-center mb-3">

                <div class="col-11 col-md-8 col-lg-4 bg-light rounded shadow p-2 p-lg-5">
                    <form id="ResetForm">

                        <h1 class="h3 mb-3 fw-normal text-center mb-5">Reset Password</h1>


                        <div class="my-3">
                            <div class="input-group rounded " id="emailcont">
                                <span class="input-group-text px-3" >
                                    <i class="fas fa-envelope"></i>
                                </span>
                            <input type="email" class="form-control ps-4 py-3 rounded-end" id="email" name="email" placeholder="Email Address *">
                           </div>
                            <i id="email-error" class="px-2"></i>
                        </div>


                        <!-- <div class=" mb-3" >
                           
                            <div class="input-group rounded" id="passcont-C">
                                
                              <input type="password" class="form-control py-3 ps-4 rounded-start" id="currentPassword" name="currentPassword" placeholder="Current Password *">
                              
                              <span class="input-group-text rounded-end px-3" onclick="togglePasswordVisibility(this.previousElementSibling.id,this.children[0].id)" style="cursor: pointer;">
                                <img id="eyeIcon1" class="eye-icon" src="/assects/icons/eye-closed-svgrepo-com (1).svg" width="25" height="25">
                              </span>

                            </div>
                            <i id="currentPassword-error" class="px-2"></i>

                            <!- <i id="passwordError" class="error-message"></i> 
                        </div> -->

                        
                        <div class="mb-3">
                           
                            <div class="input-group rounded " id="passcont-N">
                                <span class="input-group-text px-3" >
                                    <i class="fas fa-lock"></i>
                                </span>
                              <input type="password" class="form-control ps-4 py-3 border-end-0" id="newPassword" name="newPassword" placeholder="New Password *">
                              <span class="input-group-text rounded-end px-3 border-start-0 bg-white" onclick="togglePasswordVisibility(this.previousElementSibling.id,this.children[0].id)">
                                <img id="eyeIcon" class="eye-icon" src="/assects/icons/eye-closed-svgrepo-com (1).svg" width="25" height="25">
                              </span>


                            </div>
                            <i id="newPassword-error" class="px-2"></i>

                            
                            <!-- <i id="passwordError" class="error-message"></i> -->
                        </div>


                        

                        <button class="btn btn-primary w-100 mybtn rounded" type="submit">
                            <span id="text">Reset</span>
                            <div class="spinner" id="loader" style="display: none;"></div>
                        </button>

                        

                        

                    </form>
                    
                </div>
            </main>
            <script>
                function togglePasswordVisibility(inputId, iconId) {
                    console.log(inputId,"  ", iconId)
                    const passwordInput = document.getElementById(inputId);
                    const eyeIcon = document.getElementById(iconId);

                    // Toggle the type of the password input between 'password' and 'text'
                    if (passwordInput.type === 'password') {
                        passwordInput.type = 'text';
                        eyeIcon.src = '/assects/icons/eye-open-svgrepo-com (1).svg'; // Closed eye icon
                    } else {
                        passwordInput.type = 'password';
                        eyeIcon.src = '/assects/icons/eye-closed-svgrepo-com (1).svg'; // Open eye icon
                    }
                }


            </script>


            <script type="module">
                import {handleFormSubmission} from '/js/DataUploader.js'

                function validateEmail(){
                   const email = document.getElementById("email")
                   const emailError= document.getElementById("email-error")
                   const emailCon = document.getElementById('emailcont')
                   const emailFormat = /^[^\s@]+@[^\s@]+\.[^\s@]+$/

                    if(!email.value){
                        emailError.textContent="Email Required"
                        emailCon.classList.add('input-error')
                        emailError.classList.add('error')
                        return false
                    }else if(!email.value.match(emailFormat)){
                        emailError.textContent="Email Format Invalid"
                        emailCon.classList.add('input-error')
                        emailError.classList.add('error')
                        return false
                    }else{
                        emailCon.classList.remove('input-error')
                        emailError.classList.remove('error')
                        emailError.textContent= null
                        
                        return true
                    }

                }

                function validatePassowrd(
                    inputId,
                    inputerrorId,
                    inputCont
                ){
                    const password = document.getElementById(inputId)
                    const passwordError= document.getElementById(inputerrorId)
                    const passwordCon = document.getElementById(inputCont)
                    
                    const passworformat = /^(?=.*[a-z])(?=.*\d)(?=.*[!@#\$%\^&])[a-zA-Z0-9!@#\$%\^&]{3,20}$/;


                    if(!password.value){
                        passwordCon.classList.add('input-error')
                        passwordError.classList.add('error')
                        passwordError.textContent="Password Required"
                        return false
                    }else if(password.value.length < 8){
                        passwordCon.classList.add('input-error')
                        passwordError.classList.add('error')
                        passwordError.textContent="Password shouldn't be less than 8 characters"
                        return false
                    }else if(!password.value.match(passworformat)){
                        passwordCon.classList.add('input-error')
                        passwordError.classList.add('error')
                        passwordError.textContent="Password must contain at least one special character and digit"
                        return false
                    }else{
                        passwordCon.classList.remove('input-error')
                        passwordError.classList.remove('error')
                        passwordError.textContent= null
                        return true
                    }
                }

                function startSubmission(e){
                    e.preventDefault()
                    let emailValid = validateEmail()
                    // let currentPasswordValid = validatePassowrd(
                    //     "currentPassword",
                    //     "currentPassword-error",
                    //     "passcont-C"
                    // )
                    let newPasswordValid = validatePassowrd(
                        "newPassword",
                        "newPassword-error",
                        "passcont-N"
                    )
                    if(emailValid  && newPasswordValid){
                        const restForm = document.getElementById('ResetForm');
                        handleFormSubmission(restForm, '/user/reset-password');

                    }
                }

                document.getElementById('ResetForm').addEventListener('submit', startSubmission)

                
            </script>



           
               
    </body>

</html>