<!DOCTYPE html>
<html lang="en">

<%-include('./components/head')%>

    <body>
        <%-include('./components/header')%>
        <%-include('./components/Alertbox')%>
        <style>
            :root{
                --error-color:rgb(252, 73, 73);
            }
            .error{
                color:var(--error-color);
                font-size: 13px;
                border: none !important;
            }
            .input-error{
                border: 2px solid var(--error-color) ;
            }
         </style>

            <main class="row justify-content-center align-items-center mb-5">
                <div class="col-11 col-md-8 col-lg-4 bg-light rounded shadow p-2 p-lg-5">
                    <form id="SignUpForm" enctype="multipart/form-data">
                        <div style="width: 120px; height: 120px;" class="m-auto mb-3">
                            <img src="/assects/images/maxblogs-logo-main.png" alt="" class="w-100 h-100">
                        </div>
                        <h1 class="h3 mb-5 fw-normal text-center">Register to Become a writer</h1>

                        <div class=" my-3">
                            <div class="input-group rounded " id="namecont">
                                <span class="input-group-text px-3" >
                                    <i class="fas fa-user text-primary"></i>
                                </span>
                            <input type="text" class="form-control ps-4 py-3 rounded-end" id="name" name="name" placeholder="Name *">
                            </div>
                            <i id="name-error" class="px-2"></i>
                        </div>

                        <div class="my-3">
                            <div class="input-group rounded " id="emailcont">
                                <span class="input-group-text px-3" >
                                    <i class="fas fa-envelope text-primary"></i>
                                </span>
                            <input type="email" class="form-control ps-4 py-3 rounded-end" id="email" name="email" placeholder="Email Address *">
                           </div>
                            <i id="email-error" class="px-2"></i>
                        </div>

                        

                        <div class="my-3">
                           
                            <div class="input-group rounded " id="passcont">
                                <span class="input-group-text px-3" >
                                    <i class="fas fa-lock text-primary"></i>
                                </span>
                              <input type="password" class="form-control ps-4 py-3 border-end-0" id="password" name="password" placeholder="Password *">
                              <span class="input-group-text rounded-end px-3 border-start-0 bg-white" onclick="togglePasswordVisibility()">
                                <img id="eyeIcon" class="eye-icon" src="/assects/icons/eye-closed-svgrepo-com (1).svg" width="25" height="25">
                              </span>


                            </div>
                            <i id="password-error" class="px-2"></i>

                            
                            <!-- <i id="passwordError" class="error-message"></i> -->
                        </div>

                        <div class="mb-3 d-flex justify-content-center align-items-center flex-column">
                           
                            <label for="avatar" class="rounded d-flex flex-column justify-content-center align-items-center" style="width: 200px; height: 170px;cursor: pointer;border: 2px dashed #b1b1b1;">
                                <img src="/assects/icons/image-upload-svgrepo-com.svg" alt="" class="w-75 h-75 rounded" id="profile-pic">
                                
                                <p id="inner-text">Click to upload</p>
                            </label>
                            <p style="font-size: 15px;">
                                <i>*Upload Profile Picture*</i>
                            </p>
                            

                            <input 
                               type="file" 
                               class="form-control ps-4 py-3 rounded-end" 
                               id="avatar" 
                               name="avatar" 
                               accept=".jpg, .png, .jfif" 
                               hidden
                            >
                            
                            
                        </div>





                        <button class="btn btn-primary w-100 mybtn rounded" type="submit" id="form-Btn">
                            <span id="text">Register</span>
                            <div class="spinner" id="loader" style="display: none;"></div>
                        </button>

                        

                    </form>
                    <div class="mt-5 fs-5">
                        <p class="text-center">Already have an account? <a href="/user/log-in" class="text-primary"><i>login</i></a></p>
                    </div>
                </div>
            </main>

            <script>
                function togglePasswordVisibility() {
                    const passwordInput = document.getElementById('password');
                    const eyeIcon = document.getElementById('eyeIcon');

                    // Toggle the type of the password input between 'password' and 'text'
                    if (passwordInput.type === 'password') {
                        passwordInput.type = 'text';
                        eyeIcon.src = '/assects/icons/eye-open-svgrepo-com (1).svg'; // Closed eye icon
                    }else{
                    passwordInput.type = 'password';
                    eyeIcon.src = '/assects/icons/eye-closed-svgrepo-com (1).svg'; // Open eye icon
                    }
                }

                // function showSelection(e){
                    
                // }
                document.getElementById('avatar').addEventListener('change', (e)=>{
                    const input = e.target;
                    console.log(e.target)

                    const reader = new FileReader()
                    
                    reader.readAsDataURL(input.files[0])
                    reader.onload = function (e){
                        const img = document.getElementById('profile-pic')
                        const text = document.getElementById('inner-text')
                        text.style.display = "none"
                        img.src = reader.result;
                        img.classList.remove('w-75', 'h-75')
                        img.classList.add('w-100', 'h-100')
                        console.log(reader.result)
                    }
                    

                })


            </script>

            <script type="module">

                
                import {handleFormSubmission} from '/js/DataUploader.js'


                function startSubmission(e){
                    e.preventDefault()
                    const nameValid = validateName()
                    const emailValid = validateEmail()
                    const passwordValid = validatePassowrd()
                    if(nameValid && emailValid && passwordValid){
                        const signUpForm = document.getElementById('SignUpForm');
                        handleFormSubmission(signUpForm, '/user/sign-up');

                    }
                }

                document.getElementById('SignUpForm').addEventListener('submit',startSubmission)

                function validateName(){
                   const name = document.getElementById("name")
                   const nameError= document.getElementById("name-error")
                   const nameCon = document.getElementById('namecont')

                    if(!name.value){
                        nameError.textContent="Name Required"
                        nameCon.classList.add('input-error')
                        nameError.classList.add('error')
                        return false
                    }else if(name.value.trim().length < 5){
                        nameError.textContent="Name must be greater than 5 characters"
                        nameCon.classList.add('input-error')
                        nameError.classList.add('error')
                        return false
                    }else{
                        nameCon.classList.remove('input-error')
                        nameError.classList.remove('error')
                        nameError.textContent= null
                        
                        return true
                    }

                }
                function validateEmail(){
                   const email = document.getElementById("email")
                   const emailError= document.getElementById("email-error")
                   const emailCon = document.getElementById('emailcont')
                   const emailFormat = /^[^\s@]+@[^\s@]+\.[^\s@]+$/

                    if(!email.value){
                        emailError.textContent="Email Required"
                        emailCon.classList.add('input-error')
                        emailError.classList.add('error')
                        return false
                    }else if(!email.value.match(emailFormat)){
                        emailError.textContent="Email Format Invalid"
                        emailCon.classList.add('input-error')
                        emailError.classList.add('error')
                        return false
                    }else{
                        emailCon.classList.remove('input-error')
                        emailError.classList.remove('error')
                        emailError.textContent= null
                        
                        return true
                    }

                }

                function validatePassowrd(){
                    const password = document.getElementById('password')
                    const passwordError= document.getElementById("password-error")
                    const passwordCon = document.getElementById('passcont')
                    
                    const passworformat = /^(?=.*[a-z])(?=.*\d)(?=.*[!@#\$%\^&])[a-zA-Z0-9!@#\$%\^&]{3,20}$/;


                    if(!password.value){
                        passwordCon.classList.add('input-error')
                        passwordError.classList.add('error')
                        passwordError.textContent="Password Required"
                        return false
                    }else if(password.value.length < 8){
                        passwordCon.classList.add('input-error')
                        passwordError.classList.add('error')
                        passwordError.textContent="Password shouldn't be less than 8 characters"
                        return false
                    }else if(!password.value.match(passworformat)){
                        passwordCon.classList.add('input-error')
                        passwordError.classList.add('error')
                        passwordError.textContent="Password must contain at least one special character and digit"
                        return false
                    }else{
                        passwordCon.classList.remove('input-error')
                        passwordError.classList.remove('error')
                        passwordError.textContent= null
                        return true
                    }
                }

                

                

            </script>
    </body>

</html>