<a class="scroll-to-top rounded" href="#">
    <i class="fas fa-angle-up"></i>
</a>

<footer class="w-100 mt-5 position-fixed bottom-0">
    <div class="container my-auto">
        <div class="copyright text-center my-auto py-3">
            <% const year= new Date().getFullYear()%>
            <span>Copyright &copy; MaxBlogs <%=year%></span>
        </div>
    </div>
</footer>