<a class="scroll-to-top rounded" href="#">
    <i class="fas fa-angle-up"></i>
</a>

<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <% const year= new Date().getFullYear()%>
            <span>Copyright &copy; MaxBlogs <%=year%></span>
        </div>
    </div>
</footer>