<!DOCTYPE html>
<html lang="en">


<%-include('./components/head')%>

<body>
    <%-include('./components/header')%>
    <main class="container">
        <div class="mb-2 mt-5">
            <%-include('./components/blog-card')%>
        </div>
    </main>
</body>
</html>