<!DOCTYPE html>
<html lang="en">

<%-include('./components/head')%>

    <body>
        <%-include('./components/header')%>
        <%-include('./components/Alertbox')%>
        <style>
            :root{
                --error-color:rgb(252, 73, 73);
            }
            .error{
                color:var(--error-color);
                font-size: 13px;
                border: none !important;
            }
            .input-error{
                border: 2px solid var(--error-color) ;
            }
         </style>

            <main class="row justify-content-center align-items-center mb-5">
                <div class="col-11 col-md-8 col-lg-4 bg-light rounded shadow p-2 p-lg-5">
                    <form id="SignUpForm" enctype="multipart/form-data">

                        <h1 class="h3 mb-3 fw-normal text-center">Register to Become a writer</h1>

                        <div class=" my-3">
                            <input type="text" class="form-control ps-4 py-3 rounded" id="name" name="name" placeholder="Name *">
                            
                            <i id="name-error" class="px-2"></i>
                        </div>

                        <div class="my-3">
                            <input type="email" class="form-control ps-4 py-3 rounded" id="email" name="email" placeholder="Email Address *">
                           
                            <i id="email-error" class="px-2"></i>
                        </div>

                        <div class="input-group my-3">
                           
                            <span class="input-group-text rounded-start">
                                Upload Profile-Picture
                            </span>
                            <input type="file" class="form-control ps-4 py-3 rounded-end" id="avatar" name="avatar" placeholder="Upload Profile-Picture">
                            
                            
                        </div>

                        <div class="mb-3">
                           
                            <div class="input-group rounded" id="passcont">
                                
                              <input type="password" class="form-control ps-4 py-3 rounded-start" id="password" name="password" placeholder="Password *">
                              <span class="input-group-text rounded-end px-3 " onclick="togglePasswordVisibility()">
                                <img id="eyeIcon" class="eye-icon" src="/assects/icons/eye-closed-svgrepo-com (1).svg" width="25" height="25">
                              </span>


                            </div>
                            <i id="password-error" class="px-2"></i>

                            
                            <!-- <i id="passwordError" class="error-message"></i> -->
                        </div>





                        <button class="btn btn-primary w-100 mybtn rounded" type="submit">
                            <span id="text">Register</span>
                            <div class="spinner" id="loader" style="display: none;"></div>
                        </button>

                        

                    </form>
                    <div class="mt-3 fs-5">
                        <p class="text-center">Already have an account? <a href="/user/log-in" class="text-primary"><i>login</i></a></p>
                    </div>
                </div>
            </main>

            <script>
                function togglePasswordVisibility() {
                    const passwordInput = document.getElementById('password');
                    const eyeIcon = document.getElementById('eyeIcon');

                    // Toggle the type of the password input between 'password' and 'text'
                    if (passwordInput.type === 'password') {
                        passwordInput.type = 'text';
                        eyeIcon.src = '/assects/icons/eye-open-svgrepo-com (1).svg'; // Closed eye icon
                    }else{
                    passwordInput.type = 'password';
                    eyeIcon.src = '/assects/icons/eye-closed-svgrepo-com (1).svg'; // Open eye icon
                    }
                }


            </script>

            <script type="module">

                
                import {handleFormSubmission} from '/js/DataUploader.js'


                function startSubmission(e){
                    e.preventDefault()
                    const nameValid = validateName()
                    const emailValid = validateEmail()
                    const passwordValid = validatePassowrd()
                    if(nameValid && emailValid && passwordValid){
                        const signUpForm = document.getElementById('SignUpForm');
                        handleFormSubmission(signUpForm, '/user/sign-up');

                    }
                }

                document.getElementById('SignUpForm').addEventListener('submit',(e)=>startSubmission(e))

                function validateName(){
                   const name = document.getElementById("name")
                   const nameError= document.getElementById("name-error")

                    if(!name.value){
                        nameError.textContent="Name Required"
                        name.classList.add('input-error')
                        nameError.classList.add('error')
                        return false
                    }else if(name.value.trim().length < 5){
                        nameError.textContent="Name must be greater than 5 characters"
                        name.classList.add('input-error')
                        nameError.classList.add('error')
                        return false
                    }else{
                        name.classList.remove('input-error')
                        nameError.classList.remove('error')
                        nameError.textContent= null
                        
                        return true
                    }

                }
                function validateEmail(){
                   const email = document.getElementById("email")
                   const emailError= document.getElementById("email-error")
                   const emailFormat = /^[^\s@]+@[^\s@]+\.[^\s@]+$/

                    if(!email.value){
                        emailError.textContent="Email Required"
                        email.classList.add('input-error')
                        emailError.classList.add('error')
                        return false
                    }else if(!email.value.match(emailFormat)){
                        emailError.textContent="Email Format Invalid"
                        email.classList.add('input-error')
                        emailError.classList.add('error')
                        return false
                    }else{
                        email.classList.remove('input-error')
                        emailError.classList.remove('error')
                        emailError.textContent= null
                        
                        return true
                    }

                }

                function validatePassowrd(){
                    const password = document.getElementById('password')
                    const passwordError= document.getElementById("password-error")
                    const passwordCon = document.getElementById('passcont')
                    
                    const passworformat = /^(?=.*[a-z])(?=.*\d)(?=.*[!@#\$%\^&])[a-zA-Z0-9!@#\$%\^&]{3,20}$/;


                    if(!password.value){
                        passwordCon.classList.add('input-error')
                        passwordError.classList.add('error')
                        passwordError.textContent="Password Required"
                        return false
                    }else if(password.value.length < 8){
                        passwordCon.classList.add('input-error')
                        passwordError.classList.add('error')
                        passwordError.textContent="Password shouldn't be less than 8 characters"
                        return false
                    }else if(!password.value.match(passworformat)){
                        passwordCon.classList.add('input-error')
                        passwordError.classList.add('error')
                        passwordError.textContent="Password must contain at least one special character and digit"
                        return false
                    }else{
                        passwordCon.classList.remove('input-error')
                        passwordError.classList.remove('error')
                        passwordError.textContent= null
                        return true
                    }
                }

                

                

            </script>
    </body>

</html>